<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AistTrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AistTrader.Properties.Settings>
            <setting name="AistTrader" serializeAs="String">
                <value />
            </setting>
            <setting name="Agents" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentPortfolio" serializeAs="String">
                <value />
            </setting>
            <setting name="AgentManager" serializeAs="String">
                <value />
            </setting>
        </AistTrader.Properties.Settings>
    </userSettings>
</configuration>
